body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    height: 140px;
    background-color: #14233a;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px ;
}
.logo img{
    width: 130px;
}
.wrapper{
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding-top: 40px;
}
.box1{
    width: 50%;
}
.box2{
    width: 50%;
}
.box2 img{
    width: 75%;
    border-radius: 40px;
    display: block;
    margin: 0 auto;
}
.box1 i{
    color: #bf3c3f;
    font-size: 50px;
}
.red{
    display: inline;
    color: #bf3c3f;
}
.box1 h1{
    font-size: 40px;
    padding-right: 40px;;
    font-weight: 900;
}
.bg{
    background-image: url("../assets/wave.svg");
    background-size: cover;
    height: 270px;
    text-align: center;
    color: white;
    margin-top: -50px;
}
.bg h2{
    font-size: 34px;
    padding:150px 0 35px 0;
    display: inline-block;
    border-bottom: #bf3c3f 1px solid;
}
.container2{
    background-color: #14233a;

}
.wrapper2{
    display: flex;
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.box3{
    width: 50%;
}
.box4{
    width: 50%;
}
.box3 img{
    width: 97%;
    border-radius: 40px;
}
.box4 img{
    width: 97%;
    border-radius: 40px;
}
footer{
    background-color: #0E192A;
    height: 100px;
}
@media (max-width:700px){
    .wrapper{
        display: block;
    }
    .box1{
        width: 80%;
        margin: 0 auto;
    }
    .box2{
        width: 80%;
        margin: 0 auto;
    }
    .box1 h1{
        font-size: 30px;
        padding-right: 0px;;
    }
    .box2 img{
        width: 100%;
    }

    .wrapper2{
        display: block;
    }
    .box3{
        width: 80%;
        margin: 0 auto;
    }
    .box4{
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }
}